{% load static %}
<!-- Navbar -->

<nav id="nav-top" class="navbar navbar-expand-lg navbar-dark" style="background-color: #3E6F51; sticky-top">
<div class="container">
<!--  <nav class="nav">-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/logo/icons8-apiary-64 (1).png' %}" class="logo" alt="">
      </a>
      <ul class="navbar-nav">
        <li
          {% if '/' == request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li
              {% if 'products' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
            >
              <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="search-container">
              <form action="{% url 'search' %}">
                <label class="sr-only">Keywords</label>
                <input type="text" placeholder="Search.." name="keywords" value="{{ values.keywords}}">
                <button  type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <br>
            {% if user.is_authenticated %}
              <li
              {% if 'dashboard' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'dashboard' %}">
                  Welcome {{ user.username }} (Dashboard)</a>
              </li>
              <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                  <i class=""></i> Logout
                </a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
              </li>
            {% else %}
              <li
              {% if 'signup' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'signup' %}">
                  <i class=""></i> <i class="fa-regular fa-user" style="color: #ffffff;"></i>   Signup</a>
              </li>
              <li
              {% if 'login' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'login' %}">
                  <i class=""></i>Login</a>
              </li>

            {% endif %}
              <li>
                <a class="nav-link" href="{% url 'cart' %}">
                <i class="fa fa-shopping-cart" style="font-size:24px; color: #ffffff;"></i></a>
              </li><p id="cart-total">0</p>
          </ul>
      </div>
  </div>
</nav>

