 <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="w3-display-container">
      <div class="row">
        <div class="vertical-top">
          <div class="w3-display-topleft">
            <i class="">(617)-555-5555</i>
          </div>
          <div class="w3-display-topright">
            <i class=""></i> tarrylshoney@fakemail.com
          </div>
        </div>

        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
            </a>
            <a href="#">
            </a>
            <a href="#">
            </a>
            <a href="#">
            </a>
            <a href="#">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>