{% extends 'base.html' %}

{% load static %}

{% block title %} | About{% endblock %}

{% block content %}
    <!-- hero -->

<div class="hero-image">
    <div class="hero-text">
      <h1 style="color: white">I am Tarryl Ladner</h1>
      <p>And I'm a Bee Keeper</p>
    </div>
</div>

    <!-- article -->
    <article>
      <div class="container">
        <div class="row justify-content-center gutter-1">

          <!-- post -->
          <div class="col-lg-8">
            <div class="bg-white p-4">
              <h2 class="text-uppercase">The History</h2>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed eius doloremque, suscipit minus asperiores hic aut at odio unde nihil culpa recusandae labore, sint nulla vitae repellat quaerat quo architecto!</p>
            </div>
          </div>

          <div class="col-lg-8">
            <figure class="equal equal-50">
              <span class="image" style="background-image: url(static/img/th.webp)"></span>
            </figure>
          </div>

          <div class="col-lg-8">
            <div class="bg-white p-4">
              <h2 class="text-uppercase">The Design</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed eius doloremque, suscipit minus asperiores hic aut at odio unde nihil culpa recusandae labore, sint nulla vitae repellat quaerat quo architecto!</p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

        </div>
      </div>
    </article>
{% endblock %}