{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">


  <!-- hero_2 -->
<div class="hero-image_2">
    <div class="container text-center">
      <div id="hero_search_container" class="container text-center">
      </div>
    </div>
</div>

  <!-- Products -->
  <section id="products" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Products</h3>
      <div class="row">
        {% if products %}
          {% for product in products %}
            <!-- Product 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card product-preview">
                <img class="card-img-top"   src="{{ product.photo_main.url }}" alt="" style="width: 90%">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ product.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="product-heading text-center">
                    <h4 class="text-primary">{{product.title}}</h4>
                    <p>{{product.size}}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                  </div>
                  <div class="row py-2 text-secondary">
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-user"></i> {{ product.seller }}</div>
                  </div>
                  <div class="row text-secondary pb-2">
                  </div>
                  <hr>
                  <a href="{% url 'product' product.id %}" class="btn btn-primary btn-block">More Info</a>
                </div>
              </div>
            </div>
          {% endfor %}
          {% else %}
          <div class="col-md-12">
            <p>No Products Available</p>
          </div>
          {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <hr>
          <h3></h3>
          <p></p>
        </div>
        <div class="col-md-4">
          <hr>
          <h3></h3>
          <p></p>
        </div>
        <div class="col-md-4">
          <hr>
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}