{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | {{ product.title }} {% endblock %}

{% block content %}
<!--  <section id="hero_2-inner" class="py-5 text-white">-->
<!--    <div class="container">-->
<!--      <div class="row text-center">-->
<!--        <div class="col-md-12">-->
<!--          <h1 class="display-4">{{ product.title }}</h1>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'products' %}">Products</a>
          </li>
          <li class="breadcrumb-item active">{{ product.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Product -->
  <section id="product" class="py-4">
    <div class="container">
      <a href="{% url 'products' %}" class="btn btn-light mb-4">Back To Products</a>
      <div class="row">

        <div class="col-md-9" style="max-width:800px">
          <!-- Home Main Image -->
          <img id="img-product" src="{{ product.photo_main.url }}" alt="" class="img-fluid mb-3">
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            {% if product.photo_1 %}
            <div class="col-md-2">
              <a href="{{ product.photo_1.url }}" data-lightbox="home-images">
                <img src="{{ product.photo_1.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if product.photo_2 %}
            <div class="col-md-2">
              <a href="{{ product.photo_2.url }}" data-lightbox="home-images">
                <img src="{{ product.photo_2.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if product.photo_3 %}
            <div class="col-md-2">
              <a href="{{ product.photo_3.url }}" data-lightbox="home-images">
                <img src="{{ product.photo_3.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if product.photo_4 %}
            <div class="col-md-2">
              <a href="{{ product.photo_4.url }}" data-lightbox="home-images">
                <img src="{{ product.photo_4.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if product.photo_5 %}
            <div class="col-md-2">
              <a href="{{ product.photo_5.url }}" data-lightbox="home-images">
                <img src="{{ product.photo_5.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if product.photo_6 %}
            <div class="col-md-2">
              <a href="{{ product.photo_6.url }}" data-lightbox="home-images">
                <img src="{{ product.photo_6.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
          </div>
          <!-- Fields -->
          <div class="w3-row">
            <div class="w3-col w3-container" style="width:20%"></div>
            <div class="w3-col w3-container" style="width:60%">
              <p>
                <h4 class="text-primary">{{product.title}}</h4>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Price:
                  <span class="float-right">${{ product.price | floatformat:2 }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-square"></i> Size:
                  <span class="float-right">{{ product.size }}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i></i> Seller:
                  <span class="float-right">{{ product.seller }}
                  </span>
                </li>
                <br>
                <div class="col-12">
                  <button data-product="{{ product.id }}" data-action="add" href="{% url 'cart' %}" class="btn btn-block btn-success update-cart">Add to Cart</button>
                </div>
                <li class="card-body text-center text-secondary">
                    <p><label>Description:</label><br>
                      {{ product.description }}
                    </p>
                </li>
              </p>
            </div>
            <div class="w3-col w3-container" style="width:20%"></div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
