{% extends 'base.html' %}   # this is in products.html
{% load static %}
{% load humanize %}

{% block title %} | Browse Products {% endblock %}

{% block content %}
<section id="hero_2-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 style="color: white" class="display-4">Browse Our Products</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Products</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Products -->
  <section id="products" class="py-4">
    <div class="container">
      <div class="row">
        {% if products %}
          {% for product in paged_products %}
          <div class="col-md-6 col-lg-4 mb-4">
              <div class="card product-preview">
                <img src="{{ product.photo_main.url }}" alt="">
                <div class="box-element product">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ product.price | floatformat:2 }}</span>
                  </h2>
                </div>
            <div class="card-body">
              <div class="product-heading text-center">
                <h4 class="text-primary">{{product.title}}</h4>
                <p>{{ product.size }}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
              </div>
              <div class="row py-2 text-secondary">
              </div>
              <hr>
              <div class="row py-2 text-secondary">
              </div>
              <div class="row text-secondary pb-2">
              </div>
              <hr>
              <a href="{% url 'product' product.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Products Available</p>
          </div>
        {% endif %}
      </div>
    </div>
<!--       <div class="row">-->
<!--        <div class="col-md-12">-->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center pagination-lg">
            {% if paged_products.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ paged_products.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for i in nums %}
	            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
              {% if paged_products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ paged_products.next_page_number }}">Next</a></li>
              {% endif %}
              {% if paged_products.has_next %}
                <li class="page-item">
                  <a href="?page={{paged_products.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
          </ul>
          </nav>
    <br/>
<!--    {{ nums }}-->
  </section>
{% endblock %}