{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} | Search Results {% endblock %}

{% block content %}

<!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'products' %}">Browse products</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- products -->
  <section id="products" class="py-4">
    <div class="container">
      <div class="row">
        {% if products %}
          {% for product in products %}
          <div class="col-md-6 col-lg-4 mb-4">
              <div class="card product-preview">
                <img class="card-img-top" src="{{ product.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">${{ product.price | intcomma }}</span>
                  </h2>
                </div>
            <div class="card-body">
              <div class="product-heading text-center">
                <h4 class="text-primary">{{product.title}}</h4>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                </div>
                <div class="col-6">
                </div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                </div>
                <div class="col-6">
                </div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i> {{ product.seller }}</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                </div>
              </div>
              <hr>
              <a href="{% url 'product' product.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No products Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}