{% extends 'admin/base.html' %}

{% load static %}

{% block branding %}
    <h1 id="head">
      <img src="{% static 'img/logo/icons8-apiary-64 (1).png' %}"?DEBUG=1 alt="Crane Creek Bee Farm" height="40" width="50" class="brand_img"> Crane Creek Bee Farm / Admin Area
    </h1>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">?debug=1
{% endblock %}