{% extends 'base.html' %}
{% load static %}

<title>Cart</title>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

{% block content %}

     <!-- cart -->
 <h3>Cart</h3>
<div class="row">
    <div class="col-lg-12">

        <div class="box-element">
          <a  class="btn btn-outline-dark" href="{% url 'products' %}">&#x2190; Continue Shopping</a>
        </div>
        <br>

        <div class="box-element">
            <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
            </div>

            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.photo_main.url }}"></div>
                <div style="flex:2"><p>{{ item.product.title }}</p></div>
                <div style="flex:1"><p>${{ item.product.price | floatformat:2 }}</p></div>
                <div style="flex:1">
                    <p class="quantity">{{ item.quantity }}</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static 'img/arrow-up.png' %}">
                            <img class="chg-quantity" src="{% static 'img/arrow-down.png' %}">
                        </div>
                </div>
                <div style="flex:1"><p>${{ item.get_total }}</p></div>
            </div>
            {% endfor %}
        </div>

        <div class="box-element">
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                    <th><h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>




{% endblock %}
