#header {
    height: 50px;
    background: #10284e;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

#branding {
	color: var(--header-color);
	}
.module caption {
    background: #10284e;
}
a:link. a:visited {
    #e8e8e8
}
