#img {
  width: 75%; }

.logo {
  width: 50px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase;
  max-width: 1536px;
  }
.navbarNavAltMarkup {
   max-width: 1536px;
}


.social a {
  margin-right: 0.4rem; }

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/bee-hive-in-yard.webp");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image_2 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/static/img/tlbeeyard_light.webp");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero_search_container {
    width: 50%;
    margin: auto;
}

.overlay {
    content: '';
    position: center;
    min-height: 100px;
    width: 50%;
    margin: auto;
    margin-top: 175px;
    background: rgba(51, 51, 51, 0.8); }

.form-control {
    width: 50%;
    margin: auto;
    float: center;
}

.btn-block {
    width: 65%;
    margin: auto;
    float: center;
    background-color: #11694f;
}

@media (min-width: 1200px) {
.container {
  max-width: 1536px;
  margin: auto;} }



div.card.product-preview.img.thumbnail {
  max-width: 92%;
  height: auto; }

.card-header {
    background-color: #11694f;
}

h4 {
    color: white;
}
