.btn-secondary {
  color: #fff !important; }

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#hero_2 {
  background: url("/static/img/tlbeeyard_light.jpg") no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #hero_2 .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #hero_2 .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }

#hero_2-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #hero_2-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #hero_2-inner.hero_2-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.product-preview a {
  position: relative;
  background-color: #11694f;
 }

@media (max-width: 991px) {
  #hero_2 {
    padding-top: 4rem; }
    #hero_2 h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #hero_2 {
    padding-top: 3rem; }
    #hero_2 h1 {
      font-size: 40px; }
    #hero_2 p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #hero_2 h1 {
    font-size: 30px; }
  #hero_2-inner h1 {
    font-size: 40px; } }
body {
    margin: 0;
}

#btn {
    background-color: #3e6f51!important;
}
#more-list-group {
    margin: 100px;
    border: 1px solid #4CAF50;
    padding: 20px;
}
